#overlay
{
  text-align: center;
  position: absolute;
  width: 100%;
}

#bg_text
{   
    font-family: gergia, serif;
}

/* For modal positioning */

#top_right
{
    position:absolute; 
    top:50px; 
    left:1350px;
}

#button_adjust
{
    background-color: rgb(201, 48, 44);
    border-color: rgb(201, 48, 44);
}
