#bg_text
{   
    font-family: gergia, serif;
}

/* For modal positioning */

#top_right
{
   position:absolute; top: 8ex; right: -55ex;
}

#button_adjust
{
    background-color: rgb(201, 48, 44);
    border-color: rgb(201, 48, 44);
}
