<!-- This page shows how the Flask server allows the website to have a server-side programs users can interact with-->
{% extends "layout.html" %}


{% block head %}
<title>Backend with Flask</title>

  <!-- Local CSS and JS Sources -->
  <link rel="stylesheet" href="/static/css/forms_page_styles.css">

{% endblock %}


{% block body %}
  <!--text to display-->
  <div class="text-dark" style="text-align: center;">
    <h1>Server-side Power with Flask</h1>
    <h3>Using flask, you can have dynamic pages, and back end programs.</h3>
  </div>
  <br><br><br>
  <h3></h3>
  
{% endblock %}


{% block modal_text %}
            <h4 class="modal-title"><b>Flask: Give Your Website A Proper Back End</b></h4>
          </div>
          
          <div class="modal-body" style="text-align: center">
            <p>Some text in the modal.</p>
          </div>
{% endblock %}