<!--This page shows the different forms that can be filled out, which link to a DB to record user input-->
{% extends "layout.html" %}


{% block head %}
<title>Forms and Databases</title>

  <!-- Local CSS and JS Sources -->
  <link rel="stylesheet" href="/static/css/forms_page_styles.css">
  <script defer src="/static/js/forms_page.js"></script>
{% endblock %}


{% block body %}
  <!--text to display-->
  <div class="text-dark" style="text-align: center;">
    <h1>Fill Forms</h1>
    <h3>Here are some ways to get users to input data</h3>
  </div>
{% endblock %}


{% block modal_text %}
            <h4 class="modal-title"><b>Forms: Getting and Organizing Data</b></h4>
          </div>
          
          <div class="modal-body" style="text-align: center">
            <p>Some text in the modal.</p>
          </div>
{% endblock %}