<!-- This page shows how Javascript code could be interactively used with user input-->
{% extends "layout.html" %}


{% block head %}
<title>Fun with Javascript</title>

  <!-- Local CSS and JS Sources -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/js_page_styles.css">
  <script defer src="/static/js/js_page_scripts.js"></script>
{% endblock %}


{% block body %}
<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:28px 16px">
  <h1 class="w3-margin w3-jumbo">Client-Side Javascript</h1>
  <p class="w3-large">Here are a few ways to use proragmming logic to offer more on your site</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Run Programs</h1>
      <h5 class="w3-padding-32">We can use Javascript to run functions with users providing input. This is similar to what we can do with Flask, but nothing will go back to our servers since the code is run locally.</h5>
      <p class="w3-text-grey">Let's try to bringing the power of a programming language to user input by having Javascript scramble the text put into this input box. Let's also provide an error message if the box is left blank.</p>
      
      <!-- Scambles user input with a JS function. Return false means keep us on the page-->
      <form onsubmit="scramble(); return false;">
        <input type="text" id="scramble_text" style="width: 400px" placeholder="Text to scramble">
        <button class="w3-button w3-red">Scramble</button>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-gears w3-padding-64 w3-text-red" style="font-size:200px"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-database w3-padding-64 w3-text-red w3-margin-right" style="font-size:200px"></i>
    </div>

    <div class="w3-twothird">
      <h1>Lorem Ipsum</h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Lorem Ipsum</h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-caret-square-o-right w3-padding-64 w3-text-red" style="font-size:200px"></i>
    </div>
  </div>
</div>


<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
{% endblock %}


{% block modal_text %}
            <h4 class="modal-title"><b>JavaScript: Some Demonstrations</b></h4>
          </div>
          
          <div class="modal-body" style="text-align: center">
            <p>Some text in the modal.</p>
          </div>
{% endblock %}